html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  /* font-family: Helvetica Neue; */

  font-family: "Quicksand", sans-serif;
}

.navright {
  font-size: 20px;
  margin-right: 25px;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}
.nameBig {
  font-size: 25px;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}
.navUnderLine {
  border-width: 1px;
  margin-left: 0px;
  margin-top: 1px;
  background-color: rgb(255, 255, 255, 0.7);
}
.nav-pills .nav-link.active {
  background-color: #83c1ff;
  border-radius: 25px;
}

.boxWithArrow {
  background-color: #5f5f5f;
  position: absolute;
  bottom: 0px;
  margin-left: 87%;
  width: 112px;
  height: 60px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border: 1px solid white;
}

.nav {
  background-color: red;
  right: 0px;
  bottom: 0px;
  margin-left: 87%;
  width: 112px;
  height: 60px;
}

.downArrowPic {
  width: 35%;
  height: 35%;
  margin-left: 35px;
  margin-top: 25px;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.firstPage {
  /* background-size: cover;
	position: center; */
  height: 100vh;
  width: 100%;
  background: url("Pictures/coverPic.png") center center / cover;
}

.firstPage .container {
  max-width: 90%;
}

.secondPage {
  height: 100vh;
}

.thirdPage {
  min-height: 100vh;
  background-color: #7566e0;
  color: white;
}

.fourthPage {
  min-height: 100vh;
  background-color: white;
  color: black;
}

.mainTitle {
  font-weight: bold;
}

.fourthPage .mainTitle {
  color: #83c1ff;
}

.fourthPage .titleName {
  color: #83c1ff;
}

.fourthPage .maintTitle {
  color: #83c1ff;
}

.fourthPage .description {
  border-left: 1px solid black;
  padding-left: 3%;
}

.sixthPage {
  min-height: 100vh;
  background-color: white;
  color: black;
}

.sixthPage .mainTitle {
  color: #83c1ff;
}

.sixthPage .titleName {
  color: #83c1ff;
}

.sixthPage .maintTitle {
  color: #83c1ff;
}

.seventhPage {
  min-height: 80vh;
  color: white;
  background-color: #707070;
}

.contactImage {
  width: 50px;
  max-height: 50px;
  position: center;
  padding-right: 0px;
}

.contactText {
  padding-top: 20%;
}

.mainNavBar {
  width: 100%;
  padding-top: 5%;
  margin-right: 5%;
  background-color: #4a4747;
  line-height: 60px;
  border-radius: 0px 0px 25px 25px;
  text-align: center;
  background-color: black;
}

a {
  color: white;
}

a:hover {
  color: #83c1ff;
}

hr.blueLine {
  color: black;
  border-width: 5px;
  width: 75%;
  margin-left: 0px;
  background-color: #83c1ff;
}

hr.whiteLine {
  border-width: 5px;
  width: 75%;
  margin-left: 0px;
  background-color: white;
}

.grayLine {
  margin-top: 2%;
  width: 75%;
  height: 30%;
  background-color: #707070;
}

.blueLine {
  margin-top: 3%;
  height: 100%;
  background-color: #83c1ff;
}

.fifthPage {
  min-height: 100vh;
  background-color: #7566e0;
  color: white;
}

.containerSecondPage {
  margin: 10% auto;
  height: 100%;
}

.containerThirdPage {
  width: 100%;
  padding-top: 5%;
}

.containerThirdPage .row {
  padding-bottom: 5%;
}

.propic {
  width: 30vw;
  height: 30vw;
}

/*texts*/
.mainBlue {
  padding-top: 20%;
  color: #83c1ff;
  font-size: 5vw;
  line-height: normal;
}

.mainTitle {
  padding-top: 2%;
  text-align: center;
  font-size: 80px;
  line-height: normal;
}

.secondBlack {
  color: black;
  font-size: 2vw;
}

.thirdBlack {
  color: black;
  font-size: 1.5vw;
}

.titleName {
  font-weight: bold;
  /*font-size: 1.25rem;*/
  font-size: 20px;
}

.description {
  border-left: 1px solid white;
  padding-left: 3%;
}

.helloMessage {
  margin-top: 30%;
  text-align: center;
  color: white;
  margin-right: 20%;
  margin-left: 20%;
  font-size: 8vw;

  /* font-family: 'Source Sans Pro', sans-serif; */

  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

/* WorkExperience */

.workExperienceCard {
  color: black;
  margin: 0% auto;

  text-align: center;
  width: 55%;

  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);

  border-left: 10px solid #525983;
  background-color: white;

  font-family: "Quicksand", sans-serif;
}

.navBarLeftRight {
  background-color: #45389d;
  color: #7566e0;
  /* width:15%;
    height:40px; */
  /* width: 100%; */
  margin: 0% auto;
  float: left;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
}

.workExperienceCard .titleArea {
  background-color: #edeaea;
  padding-top: 5%;
  padding-bottom: 3%;
}

.cardDescription {
  display: none;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5px;
}


/* New ones */

#experienceDetails .container{
  padding-left: 10%;
}

#experienceDetails .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

#experienceDetails .card {
  width: 75%;
  height: 300px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  text-align: center;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


#experienceDetails .card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: #525983;
  transition: width 0.15s;
  overflow: hidden;
  z-index: 2;
}



#experienceDetails .card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

#experienceDetails .card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

#experienceDetails .card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

#experienceDetails .card .additional .user-card .level,
#experienceDetails .card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

#experienceDetails .card .additional .user-card .points {
  top: 75%;
}


#experienceDetails .card .additional .more-info {
  width: 70%;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
  padding-left: 3%;
  text-align: center;
  color: white;
}

#experienceDetails .card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

#experienceDetails .card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

#experienceDetails .card .additional .coords span + span {
  float: right;
}

#experienceDetails .card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}


#experienceDetails .card .additional .stats > div {
  flex: 1;
  text-align: center;
}

#experienceDetails .card .additional .stats i {
  display: block;
}

#experienceDetails .card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

#experienceDetails .card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

#experienceDetails .card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

#experienceDetails .card .general {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-left: 23%;
  background-color: #EDEAEA;
}

#experienceDetails .card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}


.workPlacePic{
  border-radius: 50%;
  margin-top: 40%;
  padding-left: 8%;
  padding-right: 8%;

}

/*Projects section*/

.flip-card-container {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin: 40px;
}
.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card-container:hover .flip-card {
  transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
}
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 0.5rem; */
}
.flip-card-front {
  background-color: #83c1ff;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  border-radius: 20px;
}

.flip-card-front:after {
  content: "";
  display: block;
  height: 100%;
  width: 5px;
  left: 4px;
  position: absolute;
  border: 3px solid white;
  margin-left: 10px;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  border: 5px solid #83c1ff;
  border-radius: 20px;
  text-align: center;
}

.flip-card-back p {
  text-align: center;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.5rem;
}
.flip-card-back p span {
  display: block;
  font-size: 1rem;
  margin-top: 1.25rem;
  font-style: normal;
  font-weight: normal;
}

.flip-card-back p span img {
  width: 40px;
  height: 40px;
}

/* Trying animation */
.clear {
  clear: both;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: block;
  float: left;
  margin: 10px 10px;
}

.selected {
  background-color: #8a82c7;
}

.slideTransition {
  min-height: 100vh;
  outline: none;
}

/* Project Cards */
.card {
  margin: 10px;
  text-align: center;
}

/* Leadership Code */
.cardContainer {
  width: 60%;
  height: 200px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
}
.boxHidden {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid rgb(68, 68, 68);
  border-radius: 20px;
}

.textInsideBox {
  padding-top: 30px;
  padding-left: 20px;
}

.textInsideBox h4 {
  text-align: center;
}

.stack-top {
  z-index: 9;
  padding-top: 20px;
  background-color: #45389d;
  transition: 0.3s;
  overflow: hidden;
  text-align: center;
  color: white;
}

.cardContainer:hover .stack-top {
  height: 0%;
  border: 0px;
  padding-top: 0px;
}
