.nav{
  height: 0;
}
.mainNavBar {
    width: 120px;
    padding-top: 5%;
    margin-right: 10px;
    background-color: #4a4747;
    line-height: 60px;
    border-radius: 0px 0px 25px 25px;
    text-align: center;
    background-color: black;
  }

  .nav-pills .nav-link.active {
    background-color: #83c1ff;
    border-radius: 25px;
  }